body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-container {
  margin-top: 5rem;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  text-align: center;
}

.card-container {
  margin-top: 2rem;
}

.cursor {
  cursor: pointer;
}

.active {
  color: #00A0FA;
  cursor: pointer;
}

.user-name {
  font-weight: bold;
  color: #000;
}

.comment {
  border: none;
}

.comment:focus {
  outline: none;
}

.btn-active {
  color: #00A5C9;
  border: none;
  background-color: #fff;
}